<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Farmacia - Almacén de Medicamentos</title>

    <link rel="icon" href="../../assets/public/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="../../assets/css/colors.css">
    <link rel="stylesheet" href="../../assets/css/fonts.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>

    <header>

        <div class="container-fluid bg-light">
			<div class="row p-2">
				<div class="col-8 d-flex align-items-center justify-content-around">
					<img src="../../assets/img/logo.svg" alt="avatar" height="60" class="bg-dark rounded-circle p-1">
					<h2 class="d-inline">SISTEMA DE GESTIÓN HOSPITALARIO</h2>
				</div>
				<div class="col-3 d-flex align-items-center justify-content-around">
					<img src="../../assets/img/icons/avatar.png" alt="avatar" height="50" class="bg-light rounded-circle">
					<h4 class="d-inline fs-5">USUARIO</h4>
					<a href="../auth/logout.html" class="btn btn-outline-dark btn-sm" title="Cerrar sesión">
						<i class="fa-solid fa-right-from-bracket fa-lg"></i>
					</a>
				</div>
			</div>
		</div>


        <nav class="navbar navbar-expand-xl navbar-light bg-dark-cyan">
            <div class="container">
                <h5>Modulo de Farmacia</h5>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active roboto-font fw-bold" aria-current="page" href="recetas.html"
                                style="color: rgb(224, 224, 224);">Gestión de Recetas y Medicación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link roboto-font" href="almacen.html" style="color: white;">Almacén de
                                Medicamentos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container mt-4">

        <div class="row">

            <div class="col-lg-9">
                <div class="p-4 border rounded shadow-sm bg-white">
                    <form>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="idMedicamento" class="form-label roboto-font">ID de
                                        medicamentos:</label>
                                    <input type="text" class="form-control" id="idMedicamento"
                                        placeholder="Ingrese su ID de medicamentos">
                                </div>
                                <div class="mb-3">
                                    <label for="nombreMed" class="form-label roboto-font">Nombre:</label>
                                    <input type="text" class="form-control" id="nombreMed"
                                        placeholder="Ingrese el nombre del medicamento">
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion" class="form-label roboto-font">Descripción:</label>
                                    <input type="text" class="form-control" id="descripcion"
                                        placeholder="Ingrese la descripción">
                                </div>
                                <div class="mb-3">
                                    <label for="proveedor" class="form-label roboto-font">Proveedor:</label>
                                    <input type="text" class="form-control" id="proveedor"
                                        placeholder="Ingrese el nombre del proveedor">
                                </div>
                                <div class="mb-3">
                                    <label for="stock" class="form-label roboto-font">Niveles de Stock:</label>
                                    <select class="form-select" id="stock">
                                        <option selected>Seleccione el nivel de Stock</option>
                                        <option value="alto">Alto</option>
                                        <option value="medio">Medio</option>
                                        <option value="bajo">Bajo</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="idLote" class="form-label roboto-font">ID de Lote:</label>
                                    <input type="text" class="form-control" id="idLote"
                                        placeholder="Ingrese su ID de medicamentos">
                                </div>
                                <div class="mb-3">
                                    <label for="cantidad" class="form-label roboto-font">Cantidad:</label>
                                    <input type="number" class="form-control" id="cantidad"
                                        placeholder="Ingrese la cantidad">
                                </div>
                                <div class="mb-3">
                                    <label for="fechaCad" class="form-label roboto-font">Fecha de caducidad:</label>
                                    <select class="form-select" id="fechaCad">
                                        <option selected>Seleccione la fecha de caducidad</option>
                                        <option value="1">...</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="ubicacion" class="form-label roboto-font">Ubicación:</label>
                                    <input type="text" class="form-control" id="ubicacion"
                                        placeholder="Ingrese la ubicación">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="tipo" class="form-label roboto-font">Tipo (Entrada o Salida):</label>
                                    <select class="form-select" id="tipo">
                                        <option selected>Seleccione el Tipo</option>
                                        <option value="entrada">Entrada</option>
                                        <option value="salida">Salida</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label roboto-font">Usuario responsable:</label>
                                    <input type="text" readonly class="form-control-plaintext" value="###">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label roboto-font">Responsable:</label>
                                    <input type="text" readonly class="form-control-plaintext" value="###">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="col-lg-3">
                <div class="d-grid gap-3 h-100 w-100 d-flex flex-column align-items-center justify-content-around">
                    <form class="w-100">
                        <button type="submit" class="w-100 btn btn-success d-flex flex-column align-items-center p-3">
                            <i class="fa-solid fa-file-circle-plus fa-2x mb-1"></i>
                            <span class="roboto-font">Agregar Datos</span>
                        </button>
                    </form>
                    <form class="w-100">
                        <button type="submit" class="w-100 btn btn-primary d-flex flex-column align-items-center p-3">
                            <i class="fa-solid fa-file-pen fa-2x mb-1"></i>
                            <span class="roboto-font">Modificar Datos</span>
                        </button>
                    </form>
                    <form class="w-100">
                        <button type="submit" class="w-100 btn btn-danger d-flex flex-column align-items-center p-3">
                            <i class="fa-solid fa-file-circle-xmark fa-2x mb-1"></i>
                            <span class="roboto-font">Eliminar Datos</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="roboto-font bg-dark-cyan">ID de
                                    Medicamento</th>
                                <th class="roboto-font bg-dark-cyan">Nombre</th>
                                <th class="roboto-font bg-dark-cyan">Descripción
                                </th>
                                <th class="roboto-font bg-dark-cyan">Proveedor
                                </th>
                                <th class="roboto-font bg-dark-cyan">Nivel de
                                    Stock</th>
                                <th class="roboto-font bg-dark-cyan">ID de Lote
                                </th>
                                <th class="roboto-font bg-dark-cyan">Cantidad</th>
                                <th class="roboto-font bg-dark-cyan">Fecha de
                                    Caducidad</th>
                                <th class="roboto-font bg-dark-cyan">Ubicación
                                </th>
                                <th class="roboto-font bg-dark-cyan">Tipo</th>
                                <th class="roboto-font bg-dark-cyan">Usuario
                                    Responsable</th>
                                <th class="roboto-font bg-dark-cyan">Responsable
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>M001</td>
                                <td>Paracetamol 500mg</td>
                                <td>Caja 20 tabletas</td>
                                <td>Farmacéutica Global</td>
                                <td>Alto</td>
                                <td>L-1001</td>
                                <td>200</td>
                                <td>2027-12-31</td>
                                <td>A-01</td>
                                <td>Entrada</td>
                                <td>user_admin</td>
                                <td>Ana López</td>
                            </tr>
                            <tr>
                                <td>M002</td>
                                <td>Amoxicilina 250mg</td>
                                <td>Suspensión 100ml</td>
                                <td>Medix</td>
                                <td>Medio</td>
                                <td>L-1002</td>
                                <td>50</td>
                                <td>2026-06-30</td>
                                <td>A-02</td>
                                <td>Entrada</td>
                                <td>user_admin</td>
                                <td>Ana López</td>
                            </tr>
                            <tr>
                                <td>M003</td>
                                <td>Insulex 10 UI</td>
                                <td>Inyección</td>
                                <td>BioPharm</td>
                                <td>Bajo</td>
                                <td>L-1003</td>
                                <td>15</td>
                                <td>2025-11-30</td>
                                <td>R-01 (Refrigerador)</td>
                                <td>Entrada</td>
                                <td>user_admin</td>
                                <td>Ana López</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </main>

    <footer>

    </footer>


    <script type="text/javascript" src="../../bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>