/* src/assets/styles.css */

/* Nexa */
@font-face {
	font-family: "Nexa";
	src: url("../fonts/Nexa/Nexa-ExtraLight.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Nexa";
	src: url("../fonts/Nexa/Nexa-Heavy.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

/* Roboto */
@font-face {
	font-family: "Roboto";
	src: url("@/assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("@/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("@/assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("@/assets/fonts/Roboto/Roboto-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("@/assets/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}
