/* Estilos generales */

body {
  background-color: var(--bs-body-bg);
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nexa", sans-serif;
  font-weight: 700;
}

nav {
  font-family: "Nexa", sans-serif;
  font-weight: 700;
}

textarea {
    resize: none; /* Deshabilita el redimensionamiento */
}